{
  "openapi": "3.1.0",
  "info": {
    "title": "Big Ball Sports API",
    "description": "Unified sports data API (REST + GraphQL + WebSocket) aggregating 19+\nfree-tier upstream sources and 10 MCP scrapers behind a Stripe-style\ngateway. Every response carries a confidence score and source attribution\nso callers can render appropriate caveats.\n\n## Pagination\n\nList endpoints page with `?limit=` and `?offset=`. `?page=N` is an alias\nfor `?offset=(N-1)*limit`, resolved against that endpoint's own `limit`\ndefault, so `?page=2` and `?offset=<limit>` are the same request. When both\nare sent, `?offset=` wins; it is the more specific instruction.\n\nEndpoints that return a single page (leaderboards, one team's form, one\nplayer's stat line) document a `limit` and no `offset`. On those, `?page=`\nis **rejected with a 400** naming `?limit=` rather than accepted and\nignored, so a paging attempt can never silently look like it worked.\n",
    "version": "1.0.0",
    "contact": {
      "email": "support@bigballsdata.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bigballsdata.com",
      "description": "Production"
    },
    {
      "url": "https://bbsgateway-production.up.railway.app",
      "description": "Production (Railway direct, fallback)"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Big Ball Sports API key. Or pass via `Authorization: Bearer <key>`."
      },
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "bbs_<env>_<32hex>"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 255
        },
        "description": "Stripe-style idempotency token. Retries with the same key within\n24h replay the original response without re-running the handler.\n"
      }
    },
    "responses": {
      "RateLimited": {
        "description": "Rate limited (`429`). Two causes share `error.code: rate_limited` and are\ntold apart by `error.message` and headers:\n  - **Quota exhaustion** (per-minute or per-day cap). The envelope is\n    enriched: `suggested_fix` names the next tier and its cap, and\n    `meta.current_usage` + `meta.upgrade_path` carry live usage and the\n    upgrade target. `X-RateLimit-Limit/-Remaining/-Reset` are present.\n  - **4xx circuit breaker** (sustained high 4xx rate: malformed\n    requests, or ignoring Retry-After and hammering past quota; key in\n    cooldown). Carries `X-RateLimit-4xx-Cooldown`; no `upgrade_path`.\nAdditive: existing parsers keying on `error.code`, `error.message`,\n`docs_url`, `support`, `meta.request_id` are unaffected.\n`X-RateLimit-Limit/-Remaining/-Reset` are returned on every authenticated\nresponse (2xx/4xx/5xx), not only on 429s, so clients can self-throttle.\n",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the limit (or 4xx cooldown) resets.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Limit": {
            "description": "Effective request cap (tighter bucket).",
            "schema": {
              "type": "string"
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining in the tighter bucket.",
            "schema": {
              "type": "string"
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix seconds at which the tighter bucket resets.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-4xx-Cooldown": {
            "description": "Seconds remaining on the 4xx breaker cooldown (only on breaker 429s).",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "rate_limited"
                    },
                    "message": {
                      "type": "string",
                      "example": "Daily quota exhausted (250 of 250 requests used)"
                    }
                  }
                },
                "suggested_fix": {
                  "type": "string",
                  "description": "Quota 429 only, tier-aware upgrade guidance.",
                  "example": "Pace requests using the Retry-After and X-RateLimit-* response headers. Handling guide: https://bigballsdata.com/docs/rate-limits. If you're regularly at this ceiling, the solo plan is $19/month and raises your daily limit to 10,000/day: https://bigballsdata.com/dashboard/billing?plan=solo."
                },
                "docs_url": {
                  "type": "string"
                },
                "support": {
                  "type": "object"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "limiting_bucket": {
                      "type": "string",
                      "enum": [
                        "minute",
                        "day"
                      ],
                      "description": "Quota 429 only. WHICH of the two buckets refused this\nrequest, and therefore which cap `error.message` and\n`suggested_fix` are about. `current_usage` reports both\nbuckets without saying which one was binding; this says.\n\nUse it for backoff: a `minute` refusal clears within\nseconds, a `day` refusal not until the UTC rollover.\n`Retry-After` already carries the right wait in seconds.\n",
                      "example": "minute"
                    },
                    "current_usage": {
                      "type": "object",
                      "description": "Quota 429 only, live per-bucket usage.",
                      "properties": {
                        "minute": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer"
                            },
                            "limit": {
                              "type": "integer"
                            },
                            "resets_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "day": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer"
                            },
                            "limit": {
                              "type": "integer"
                            },
                            "resets_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    },
                    "upgrade_path": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/UpgradePath"
                        }
                      ],
                      "description": "The upgrade target for THIS 429: the next tier up the\nladder, because the caller's problem is volume.\n`recommended_tier` is null at the top self-serve tier.\n"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service temporarily unavailable (`503`). Returned when a backing query\nexceeds the endpoint's `statement_timeout` (Postgres cancels it) instead\nof holding the connection for seconds. Transient under heavy load;\nretry after a short delay. Standard error envelope with\n`error.code = upstream_unavailable`.\n",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "upstream_unavailable"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "docs_url": {
                  "type": "string"
                },
                "support": {
                  "type": "object"
                },
                "meta": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "UnifiedNbaTeamGame": {
        "type": "object",
        "required": [
          "id",
          "archive_team_id",
          "name",
          "short_name",
          "logo_url"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Canonical team UUID."
          },
          "archive_team_id": {
            "type": "string",
            "nullable": true,
            "description": "Original archive participant ID; null on match-only rows."
          },
          "name": {
            "type": "string"
          },
          "short_name": {
            "type": "string",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UnifiedNbaMatch": {
        "type": "object",
        "description": "NBA's additive v1 match shape. It preserves the ordinary Match fields, adds archive identity/statistics, and preserves a date-only historical game as midnight UTC plus time_precision=date. The marker explicitly says that the time component is not a known tip-off.",
        "required": [
          "id",
          "sport",
          "league",
          "season",
          "game_date",
          "kickoff_utc",
          "time_precision",
          "status",
          "home",
          "away"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sport": {
            "type": "string",
            "enum": [
              "basketball"
            ]
          },
          "league": {
            "type": "string",
            "enum": [
              "NBA"
            ]
          },
          "archive_game_id": {
            "type": "string",
            "nullable": true
          },
          "match_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "season": {
            "type": "integer"
          },
          "season_type": {
            "type": "string"
          },
          "game_date": {
            "type": "string",
            "format": "date"
          },
          "kickoff_utc": {
            "type": "string",
            "format": "date-time"
          },
          "time_precision": {
            "type": "string",
            "enum": [
              "date",
              "timestamp"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/MatchStatus"
          },
          "home": {
            "$ref": "#/components/schemas/UnifiedNbaTeamGame"
          },
          "away": {
            "$ref": "#/components/schemas/UnifiedNbaTeamGame"
          },
          "score": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MatchScore"
              },
              {
                "type": "null"
              }
            ]
          },
          "linescore": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Linescore"
              },
              {
                "type": "null"
              }
            ]
          },
          "attendance": {
            "type": [
              "integer",
              "null"
            ]
          },
          "broadcast": {
            "type": [
              "string",
              "null"
            ]
          },
          "round": {
            "type": [
              "string",
              "null"
            ]
          },
          "has_odds": {
            "type": "boolean"
          },
          "archive_stats": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          }
        }
      },
      "NbaGameTeamBox": {
        "type": "object",
        "description": "One team's box score on an NBA game row. `oreb` and `dreb` are stored team totals and always satisfy `oreb + dreb = reb` when present; they are not derived from the play-by-play log.",
        "properties": {
          "team_id": {
            "type": "string",
            "nullable": true,
            "description": "Upstream numeric team id, stable across seasons. Not a BBS team UUID."
          },
          "abbreviation": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "matchup": {
            "type": "string",
            "nullable": true
          },
          "wl": {
            "type": "string",
            "nullable": true,
            "enum": [
              "W",
              "L",
              null
            ]
          },
          "pts": {
            "type": "integer",
            "nullable": true
          },
          "fgm": {
            "type": "integer",
            "nullable": true
          },
          "fga": {
            "type": "integer",
            "nullable": true
          },
          "fg_pct": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Exact decimal ratio. PostgreSQL numeric values may serialize as JSON strings (for example, '0.455')."
          },
          "fg3m": {
            "type": "integer",
            "nullable": true
          },
          "fg3a": {
            "type": "integer",
            "nullable": true
          },
          "fg3_pct": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Exact decimal ratio. PostgreSQL numeric values may serialize as a JSON string."
          },
          "ftm": {
            "type": "integer",
            "nullable": true
          },
          "fta": {
            "type": "integer",
            "nullable": true
          },
          "ft_pct": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Exact decimal ratio. PostgreSQL numeric values may serialize as a JSON string."
          },
          "reb": {
            "type": "integer",
            "nullable": true,
            "description": "Total rebounds."
          },
          "oreb": {
            "type": "integer",
            "nullable": true,
            "description": "Offensive rebounds. Complete for the 1985-86 season onward; null for 1984-85 and earlier, where the split was not recorded. A 0 is a real zero, not a missing value."
          },
          "dreb": {
            "type": "integer",
            "nullable": true,
            "description": "Defensive rebounds. Same coverage boundary as `oreb`."
          },
          "ast": {
            "type": "integer",
            "nullable": true
          },
          "stl": {
            "type": "integer",
            "nullable": true
          },
          "blk": {
            "type": "integer",
            "nullable": true
          },
          "tov": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "NbaReboundSplitMeta": {
        "type": "object",
        "description": "Self-teaching disclosure of what `oreb`/`dreb` are and where they stop, returned on every /v1/nba/games response.",
        "properties": {
          "data_type": {
            "type": "string",
            "example": "stored_team_totals"
          },
          "coverage": {
            "type": "string",
            "description": "Which seasons carry the split."
          },
          "semantics": {
            "type": "string",
            "description": "What the numbers mean and how they were NOT produced."
          },
          "known_gap": {
            "type": "string",
            "description": "A season absent from this relation on every field, not just rebounds."
          }
        }
      },
      "NbaPlayerSeasonAverage": {
        "type": "object",
        "description": "One player's per-game averages for one regular season, as the vendor\npublishes them. Numeric fields are JSON numbers. Every column is\npopulated on every row we hold, so a `0` means the player really did\nrecord none of that stat per game; it is not a placeholder for\n\"unknown\".\n",
        "properties": {
          "player_id": {
            "type": "string",
            "format": "uuid",
            "description": "BigBalls player id."
          },
          "season": {
            "type": "integer",
            "example": 2025,
            "description": "Season LABEL: the year the season starts in."
          },
          "games_played": {
            "type": "integer",
            "nullable": true
          },
          "min": {
            "type": "string",
            "nullable": true,
            "example": "36:12",
            "description": "Average minutes per game as \"MM:SS\". This is a STRING because the vendor writes it as one; we do not convert it to a decimal, because that would be a number we invented published under the vendor's name.\n"
          },
          "pts": {
            "type": "number",
            "nullable": true,
            "description": "Points per game."
          },
          "ast": {
            "type": "number",
            "nullable": true,
            "description": "Assists per game."
          },
          "reb": {
            "type": "number",
            "nullable": true,
            "description": "Total rebounds per game."
          },
          "oreb": {
            "type": "number",
            "nullable": true,
            "description": "Offensive rebounds per game."
          },
          "dreb": {
            "type": "number",
            "nullable": true,
            "description": "Defensive rebounds per game."
          },
          "stl": {
            "type": "number",
            "nullable": true,
            "description": "Steals per game."
          },
          "blk": {
            "type": "number",
            "nullable": true,
            "description": "Blocks per game."
          },
          "turnover": {
            "type": "number",
            "nullable": true,
            "description": "Turnovers per game."
          },
          "pf": {
            "type": "number",
            "nullable": true,
            "description": "Personal fouls per game."
          },
          "fga": {
            "type": "number",
            "nullable": true
          },
          "fgm": {
            "type": "number",
            "nullable": true
          },
          "fg_pct": {
            "type": "number",
            "nullable": true,
            "description": "Field goal percentage as a ratio (0.576), not a percentage."
          },
          "fg3a": {
            "type": "number",
            "nullable": true
          },
          "fg3m": {
            "type": "number",
            "nullable": true
          },
          "fg3_pct": {
            "type": "number",
            "nullable": true,
            "description": "Three-point percentage as a ratio."
          },
          "fta": {
            "type": "number",
            "nullable": true
          },
          "ftm": {
            "type": "number",
            "nullable": true
          },
          "ft_pct": {
            "type": "number",
            "nullable": true,
            "description": "Free throw percentage as a ratio."
          }
        }
      },
      "NbaPlayerAdvancedSeason": {
        "type": "object",
        "description": "One player's advanced aggregates for one season and season type.\nPercentage-style fields are ratios (0.663), not percentages, except the\nturnover rates and `ast_ratio`, which the vendor publishes on a 0-100\nscale. `e_*` variants are the vendor's estimated counterparts to the\ncolumn of the same name.\n",
        "properties": {
          "player_id": {
            "type": "string",
            "format": "uuid"
          },
          "season": {
            "type": "integer",
            "example": 2025
          },
          "season_type": {
            "type": "string",
            "enum": [
              "regular",
              "playoffs"
            ]
          },
          "games_played": {
            "type": "integer",
            "nullable": true
          },
          "wins": {
            "type": "integer",
            "nullable": true
          },
          "losses": {
            "type": "integer",
            "nullable": true
          },
          "w_pct": {
            "type": "number",
            "nullable": true
          },
          "min": {
            "type": "number",
            "nullable": true,
            "description": "Average minutes as a decimal. Note this differs from `min` on NbaPlayerSeasonAverage, which is an \"MM:SS\" string; the two relations store it differently and neither is reshaped here."
          },
          "poss": {
            "type": "number",
            "nullable": true,
            "description": "Possessions."
          },
          "ts_pct": {
            "type": "number",
            "nullable": true,
            "description": "True shooting percentage."
          },
          "efg_pct": {
            "type": "number",
            "nullable": true,
            "description": "Effective field goal percentage."
          },
          "usg_pct": {
            "type": "number",
            "nullable": true,
            "description": "Usage rate."
          },
          "e_usg_pct": {
            "type": "number",
            "nullable": true
          },
          "ast_pct": {
            "type": "number",
            "nullable": true
          },
          "ast_ratio": {
            "type": "number",
            "nullable": true
          },
          "ast_to": {
            "type": "number",
            "nullable": true,
            "description": "Assist-to-turnover ratio."
          },
          "oreb_pct": {
            "type": "number",
            "nullable": true
          },
          "dreb_pct": {
            "type": "number",
            "nullable": true
          },
          "reb_pct": {
            "type": "number",
            "nullable": true
          },
          "off_rating": {
            "type": "number",
            "nullable": true,
            "description": "Offensive rating (points produced per 100 possessions)."
          },
          "def_rating": {
            "type": "number",
            "nullable": true,
            "description": "Defensive rating (points allowed per 100 possessions)."
          },
          "net_rating": {
            "type": "number",
            "nullable": true,
            "description": "Offensive rating minus defensive rating."
          },
          "e_off_rating": {
            "type": "number",
            "nullable": true
          },
          "e_def_rating": {
            "type": "number",
            "nullable": true
          },
          "e_net_rating": {
            "type": "number",
            "nullable": true
          },
          "pace": {
            "type": "number",
            "nullable": true,
            "description": "Possessions per 48 minutes."
          },
          "e_pace": {
            "type": "number",
            "nullable": true
          },
          "pace_per40": {
            "type": "number",
            "nullable": true
          },
          "tm_tov_pct": {
            "type": "number",
            "nullable": true
          },
          "e_tov_pct": {
            "type": "number",
            "nullable": true
          },
          "pie": {
            "type": "number",
            "nullable": true,
            "description": "Player impact estimate."
          },
          "ranks": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "integer"
            },
            "description": "The vendor's league rank for each column, keyed `<column>_rank` (e.g. `pie_rank`, `off_rating_rank`). Rank 1 is best; for `def_rating` and `l_rank` that means lowest.\n"
          }
        }
      },
      "NflPlayerWeekStat": {
        "type": "object",
        "description": "One player's stat line for one game-week. All stat fields are returned\nfor every row regardless of position: a quarterback row carries 0 or\nnull in the defensive columns, a linebacker row carries 0 or null in\nthe passing columns.\n\nDefensive columns come from the same weekly player data as the\noffensive ones and cover 2020 onward at the same grain.\n\n**TACKLE TOTALS WILL NOT MATCH `/v1/stored/matches/{id}/stats`, and that\nis expected.** This dataset carries three tackle counts and no combined\ntotal: `tackles_solo`, `tackle_assists` (assisted tackles the player\ntook part in) and `tackles_with_assist` (a much smaller, separate\ncount). The other endpoint serves a single `totalTackles` from a\ndifferent provider, at per-match rather than per-game-week grain, over\na different set of seasons.\n\nWe do NOT derive a combined total here. The usual definition is solo +\nassisted, but the exact relationship between these three counts\nwas not verified against a reference box score, and a plausible number\ncomputed from an unverified relationship is worse than no number; it\nis indistinguishable from a correct one. Add `tackles_solo` and\n`tackle_assists` yourself if you need a total, knowing that is your\ndefinition rather than ours.\n",
        "properties": {
          "player_id": {
            "type": "string",
            "example": "00-0033873",
            "description": "NFL player id (gsis format)."
          },
          "player_name": {
            "type": "string",
            "nullable": true
          },
          "team": {
            "type": "string",
            "nullable": true,
            "description": "Team abbreviation the player suited up for that week."
          },
          "season": {
            "type": "integer",
            "example": 2025,
            "description": "Season LABEL: the year the season starts in."
          },
          "week": {
            "type": "integer",
            "example": 1
          },
          "season_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "REG",
              "POST",
              "PRE"
            ]
          },
          "position": {
            "type": "string",
            "nullable": true,
            "example": "WR"
          },
          "passing_yards": {
            "type": "integer",
            "nullable": true
          },
          "passing_tds": {
            "type": "integer",
            "nullable": true
          },
          "completions": {
            "type": "integer",
            "nullable": true
          },
          "attempts": {
            "type": "integer",
            "nullable": true
          },
          "rushing_yards": {
            "type": "integer",
            "nullable": true
          },
          "rushing_tds": {
            "type": "integer",
            "nullable": true
          },
          "carries": {
            "type": "integer",
            "nullable": true
          },
          "receiving_yards": {
            "type": "integer",
            "nullable": true
          },
          "receiving_tds": {
            "type": "integer",
            "nullable": true
          },
          "receptions": {
            "type": "integer",
            "nullable": true
          },
          "targets": {
            "type": "integer",
            "nullable": true
          },
          "fantasy_points_ppr": {
            "type": "number",
            "nullable": true,
            "description": "Standard PPR: 1/reception, 0.1/rush-rec yard, 0.04/pass yard, 6/TD, -2/int or fumble lost."
          },
          "interceptions": {
            "type": "integer",
            "nullable": true,
            "deprecated": true,
            "description": "DEPRECATED and ALWAYS NULL. The loader read a column the dataset\ndoes not carry, so this was never written in any of 112,333 rows. The\nkey is retained only so existing clients do not break. Read\n`interceptions_thrown` or `interceptions_caught`, which say which\none they mean.\n"
          },
          "interceptions_thrown": {
            "type": "integer",
            "nullable": true,
            "description": "Interceptions thrown by this player (the quarterback turnover stat)."
          },
          "interceptions_caught": {
            "type": "integer",
            "nullable": true,
            "description": "Interceptions caught by this player (the defensive takeaway stat)."
          },
          "tackles_solo": {
            "type": "integer",
            "nullable": true,
            "description": "Unassisted tackles. Not a combined total; see the schema description before comparing against totalTackles elsewhere."
          },
          "tackle_assists": {
            "type": "integer",
            "nullable": true,
            "description": "Assisted tackles this player participated in. Not interchangeable with tackles_with_assist."
          },
          "tackles_with_assist": {
            "type": "integer",
            "nullable": true,
            "description": "Tackles made WITH an assist from a team-mate. A much smaller count than tackle_assists."
          },
          "tackles_for_loss": {
            "type": "integer",
            "nullable": true,
            "description": "Tackles made behind the line of scrimmage."
          },
          "tackles_for_loss_yards": {
            "type": "integer",
            "nullable": true,
            "description": "Yards lost by the offence on those tackles."
          },
          "sacks": {
            "type": "number",
            "nullable": true,
            "example": 1.5,
            "description": "Sacks credited. FRACTIONAL; a shared sack is credited as 0.5 to each defender."
          },
          "sack_yards": {
            "type": "number",
            "nullable": true,
            "description": "Yards lost on this player's sacks. Fractional for the same half-credit reason as sacks."
          },
          "qb_hits": {
            "type": "integer",
            "nullable": true,
            "description": "Hits on the quarterback",
            "sacks excluded.": null
          },
          "passes_defended": {
            "type": "integer",
            "nullable": true,
            "description": "Passes broken up without intercepting."
          },
          "fumbles_forced": {
            "type": "integer",
            "nullable": true,
            "description": "Fumbles forced. Forcing is not recovering; recoveries are not currently served."
          },
          "interception_yards": {
            "type": "integer",
            "nullable": true,
            "description": "Return yards on this player's interceptions. MAY BE NEGATIVE; a return can be tackled behind the catch point."
          },
          "defensive_tds": {
            "type": "integer",
            "nullable": true,
            "description": "Touchdowns scored on defence. Distinct from passing_tds / rushing_tds / receiving_tds on the same row."
          },
          "safeties": {
            "type": "integer",
            "nullable": true
          },
          "punt_blocks": {
            "type": "integer",
            "nullable": true
          },
          "pat_blocks": {
            "type": "integer",
            "nullable": true,
            "description": "Extra-point attempts blocked."
          },
          "fg_blocks": {
            "type": "integer",
            "nullable": true,
            "description": "Field-goal attempts blocked."
          },
          "defensive_two_point_attempts": {
            "type": "integer",
            "nullable": true,
            "description": "Two-point conversion returns attempted by the defence."
          },
          "defensive_two_point_conversions": {
            "type": "integer",
            "nullable": true,
            "description": "Two-point conversion returns scored by the defence."
          },
          "times_sacked": {
            "type": "integer",
            "nullable": true,
            "description": "Times this OFFENSIVE player (almost always a QB) was sacked. Distinct from `sacks` above, which is the DEFENSIVE credit."
          },
          "sack_yards_lost": {
            "type": "number",
            "nullable": true,
            "description": "Yards lost on this player's own sacks. Distinct from `sack_yards` above, which is the DEFENSIVE figure."
          },
          "passing_air_yards": {
            "type": "number",
            "nullable": true,
            "description": "Weekly sum of air yards on this player's pass attempts. Per-play value on GET /v1/nfl/games/{id}/plays as `air_yards`."
          },
          "passing_yards_after_catch": {
            "type": "number",
            "nullable": true,
            "description": "Weekly sum of yards after the catch on this player's completions. Unofficial figure."
          },
          "passing_first_downs": {
            "type": "integer",
            "nullable": true
          },
          "passing_epa": {
            "type": "number",
            "nullable": true,
            "description": "Total EPA on this player's pass attempts and sacks."
          },
          "passing_2pt_conversions": {
            "type": "integer",
            "nullable": true
          },
          "dakota": {
            "type": "number",
            "nullable": true,
            "description": "Adjusted EPA + CPOE composite. A published advanced metric, not derived by us."
          },
          "rushing_first_downs": {
            "type": "integer",
            "nullable": true
          },
          "rushing_epa": {
            "type": "number",
            "nullable": true
          },
          "rushing_2pt_conversions": {
            "type": "integer",
            "nullable": true
          },
          "receiving_air_yards": {
            "type": "number",
            "nullable": true,
            "description": "Weekly sum of air yards on targets to this player. Per-play value on GET /v1/nfl/games/{id}/plays as `air_yards`."
          },
          "receiving_yards_after_catch": {
            "type": "number",
            "nullable": true,
            "description": "Weekly sum of yards after the catch by this receiver. Per-play value on GET /v1/nfl/games/{id}/plays as `yards_after_catch`."
          },
          "receiving_2pt_conversions": {
            "type": "integer",
            "nullable": true
          },
          "fantasy_points": {
            "type": "number",
            "nullable": true,
            "description": "Standard (non-PPR) fantasy total. See fantasy_points_ppr for the PPR total."
          },
          "air_yards_share": {
            "type": "number",
            "nullable": true,
            "description": "This player's share of the team's air yards this game-week. Fraction in [0,1]."
          },
          "pacr": {
            "type": "number",
            "nullable": true,
            "description": "Passing (yards) Air (yards) Conversion Ratio. A published advanced metric, not derived by us."
          },
          "racr": {
            "type": "number",
            "nullable": true,
            "description": "Receiving (yards) Air (yards) Conversion Ratio. A published advanced metric, not derived by us."
          },
          "receiving_epa": {
            "type": "number",
            "nullable": true
          },
          "receiving_first_downs": {
            "type": "integer",
            "nullable": true
          },
          "special_teams_tds": {
            "type": "integer",
            "nullable": true,
            "description": "Kick/punt return touchdowns. Distinct from defensive_tds and the offensive *_tds columns."
          },
          "wopr": {
            "type": "number",
            "nullable": true,
            "description": "Weighted Opportunity Rating: 1.5 x target_share + 0.7 x air_yards_share. A published advanced metric, not derived by us."
          },
          "target_share": {
            "type": "number",
            "nullable": true,
            "description": "This player's share of the team's receiving targets this game-week. Fraction in [0,1]."
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "description": "Response metadata. NOTHING here is guaranteed: measured over 38 live envelopes on 2026-09-18, `cached` and `request_id` appeared in 29, `source` in 28, `cache_age_ms` in 9 and `confidence` in 6. This block previously declared all five REQUIRED, which no response has ever satisfied. Treat every field as optional and branch on its absence. Routes add their own keys here (`count`, `limit`, `offset`, `note`, `total`, and per-endpoint ones), so do not assume a closed set.",
        "properties": {
          "date_window": {
            "type": "object",
            "description": "Present when ?date= was applied. The exact window the filter used, so an omission at a day boundary is visible. start_utc is inclusive, end_utc exclusive. timezone is UTC, or the zone named by ?tz=, in which case the window is that local day. Boxing card dates are published event dates, so timezone and bounds are null there.",
            "properties": {
              "date": {
                "type": "string"
              },
              "timezone": {
                "type": "string",
                "nullable": true,
                "example": "UTC"
              },
              "start_utc": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2026-09-13T00:00:00.000Z"
              },
              "end_utc": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "example": "2026-09-14T00:00:00.000Z"
              },
              "note": {
                "type": "string"
              }
            }
          },
          "source": {
            "type": "string",
            "description": "Opaque source-tier label. Customers never see the vendor identity.\n`forecast` marks a weather forecast (GET /v1/matches/{id}/weather).\n",
            "enum": [
              "official-league",
              "aggregator-paid",
              "aggregator-free",
              "community-scraper",
              "forecast",
              "mixed",
              "cache",
              "none",
              "unknown-source",
              "stored",
              "catalogue",
              "gateway",
              "coverage-snapshot"
            ],
            "example": "official-league"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "example": 0.95
          },
          "cached": {
            "type": "boolean"
          },
          "cache_age_ms": {
            "type": "integer",
            "example": 4200
          },
          "request_id": {
            "type": "string",
            "example": "req_abc123"
          },
          "fields_missing": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "note": {
            "type": "string",
            "description": "Short factual disclosure about something this response deliberately\nwithheld, present only when there is something to disclose.\n\nOn live scores it appears when `match_id` could not be resolved to a\nstored match and was therefore omitted: it gives the counts and\npoints at `/v1/stored/matches`, whose ids you can call back into.\nAbsent when every served id resolves.\n\nDistinct from `message`, which explains `coverage: false` or a stale\nresponse. This one is attached to a response that DID serve data and\nnames the part of it that is deliberately missing.\n",
            "example": "match_id is omitted on 380 of 380 rows in this response. The live feed behind them does not carry an id we can resolve to a stored match, so we return no id rather than one that will not work. For rows with ids you can call back into, use /v1/stored/matches with the same sport or league, for example /v1/stored/matches?league=epl."
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "NOT_FOUND"
          },
          "message": {
            "type": "string"
          },
          "details": {}
        }
      },
      "Envelope": {
        "type": "object",
        "description": "The standard response wrapper. Only `data` is guaranteed. `error` is absent (not null) on 16 of 40 live 200 responses measured 2026-09-18, so test for the KEY before reading it; this block declared it required until then. On a non-2xx, `error` is present and `data` is absent.",
        "required": [
          "data"
        ],
        "properties": {
          "data": {},
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "error": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ApiError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "FieldResult": {
        "type": "object",
        "required": [
          "value",
          "source",
          "via",
          "confidence",
          "fetchedAt",
          "ttlSeconds"
        ],
        "properties": {
          "value": {
            "description": "The canonical value for this field. Shape varies by FieldKey."
          },
          "source": {
            "type": "string"
          },
          "via": {
            "type": "string",
            "enum": [
              "api",
              "cache",
              "mcp"
            ]
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "ttlSeconds": {
            "type": "integer"
          }
        }
      },
      "CricketBattingCareer": {
        "type": "object",
        "required": [
          "innings",
          "not_outs",
          "runs",
          "balls_faced",
          "fifties",
          "hundreds",
          "ducks",
          "fours",
          "sixes"
        ],
        "properties": {
          "innings": {
            "type": "integer"
          },
          "not_outs": {
            "type": "integer",
            "description": "Innings ended undismissed (includes retired hurt / retired not out)."
          },
          "runs": {
            "type": "integer"
          },
          "balls_faced": {
            "type": "integer"
          },
          "average": {
            "type": [
              "number",
              "null"
            ],
            "description": "runs / dismissals. null when never dismissed."
          },
          "strike_rate": {
            "type": [
              "number",
              "null"
            ],
            "description": "Runs per 100 balls. null when no balls faced are recorded."
          },
          "highest_score": {
            "type": [
              "integer",
              "null"
            ]
          },
          "highest_score_not_out": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "The asterisk in cricket's `254*`."
          },
          "fifties": {
            "type": "integer",
            "description": "Scores of 50–99. A hundred counts only in `hundreds`."
          },
          "hundreds": {
            "type": "integer"
          },
          "ducks": {
            "type": "integer",
            "description": "Dismissed for 0."
          },
          "fours": {
            "type": "integer"
          },
          "sixes": {
            "type": "integer"
          }
        }
      },
      "CricketBowlingCareer": {
        "type": "object",
        "required": [
          "innings",
          "balls_bowled",
          "maidens",
          "runs_conceded",
          "wickets"
        ],
        "properties": {
          "innings": {
            "type": "integer"
          },
          "overs": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cricket notation, e.g. \"206.4\" (206 overs and 4 balls). Derived from balls_bowled."
          },
          "balls_bowled": {
            "type": "integer"
          },
          "maidens": {
            "type": "integer"
          },
          "runs_conceded": {
            "type": "integer"
          },
          "wickets": {
            "type": "integer"
          },
          "average": {
            "type": [
              "number",
              "null"
            ],
            "description": "runs conceded / wickets. null when wicketless."
          },
          "economy": {
            "type": [
              "number",
              "null"
            ],
            "description": "Runs conceded per over. null when no balls bowled."
          },
          "strike_rate": {
            "type": [
              "number",
              "null"
            ],
            "description": "Balls per wicket. null when wicketless."
          },
          "best_bowling": {
            "type": [
              "string",
              "null"
            ],
            "description": "Best innings figures as wickets/runs, e.g. \"5/23\". null when wicketless."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "docs_url",
          "support",
          "meta"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "example": "bad_request"
              },
              "message": {
                "type": "string",
                "example": "One or more query parameters are invalid."
              },
              "validation_errors": {
                "description": "Structured field errors (e.g. a zod flatten) when applicable."
              }
            }
          },
          "suggested_fix": {
            "type": "string",
            "description": "A concrete corrected request, present only when unambiguously inferable.",
            "example": "Lower limit to 200 or less, then walk the rest with ?offset=200, ?offset=400, … (?page=2 is an alias for the same thing)."
          },
          "docs_url": {
            "type": "string",
            "example": "https://bigballsdata.com/docs/errors"
          },
          "support": {
            "type": "object",
            "required": [
              "discord",
              "email"
            ],
            "properties": {
              "discord": {
                "type": "string",
                "example": "https://discord.gg/H2WJBQurbq"
              },
              "email": {
                "type": "string",
                "example": "support@bigballsdata.com"
              }
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "request_id",
              "timestamp"
            ],
            "properties": {
              "request_id": {
                "type": "string",
                "example": "req_abc123"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "upgrade_path": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpgradePath"
                  }
                ],
                "description": "Present ONLY on the two errors where upgrading is the literal\nfix: the quota `429` and a plan-gate `403 forbidden`. Absent on\nevery other error, including the `403 key_paused` reactivation\nerror; a paused key is reactivated, not bought.\n"
              }
            }
          }
        }
      },
      "UpgradePath": {
        "type": "object",
        "description": "The machine-readable half of an upgrade prompt: what to buy, what it\ncosts, and where to buy it. Identical in shape on the quota `429` and\nthe plan-gate `403`, so one parser handles both, but note the two\nrecommend DIFFERENT things, correctly. The 429 recommends the next tier\nUP (the problem is volume); the 403 recommends the LOWEST tier that\nunlocks the endpoint (the problem is access), so a free key blocked on\nan Edge route is pointed at Edge, never at Solo.\n\nEvery figure is real: `price` is the published list price, and\n`daily_limit` and `minute_limit` are the two caps the gateway actually\nenforces. Nothing here is computed from a per-request rate, and there\nis no urgency or scarcity framing anywhere in these bodies.\n\nBOTH caps are always present, because the limiter has two buckets and\neither can be the one that refused you. On a `429`, read\n`meta.limiting_bucket` to know which of them you actually hit.\n",
        "required": [
          "current_tier",
          "recommended_tier",
          "price",
          "daily_limit",
          "minute_limit",
          "url"
        ],
        "properties": {
          "current_tier": {
            "type": "string",
            "description": "The caller's tier at the time of the error.",
            "example": "free"
          },
          "recommended_tier": {
            "type": "string",
            "nullable": true,
            "description": "Null only where there is nothing to recommend: the top of the\nself-serve ladder on a 429.\n",
            "example": "edge"
          },
          "price": {
            "type": "string",
            "nullable": true,
            "description": "Monthly list price. Null for a tier that is quoted rather than\nlisted (Enterprise), in which case `url` is the pricing page rather\nthan a checkout link.\n",
            "example": "$149/month"
          },
          "daily_limit": {
            "type": "integer",
            "nullable": true,
            "description": "Requests/day granted by `recommended_tier`; null if unmetered.",
            "example": 100000
          },
          "minute_limit": {
            "type": "integer",
            "nullable": true,
            "description": "Requests/MINUTE granted by `recommended_tier`; null if unmetered.\n\nAdded 2026-09-18. The per-minute bucket is the one a bursty client\nactually hits: on 2026-09-18, the first day the gateway labelled\nthe two apart, 1,284 quota refusals were per-minute against 241\nper-day, and until this field the object could only ever quote the\ndaily cap while the prose correctly quoted the per-minute one.\n",
            "example": 1500
          },
          "url": {
            "type": "string",
            "description": "Checkout, deep-linked to `recommended_tier`, whenever there is a\nlisted price to buy. Falls back to the pricing page when there is\nnot; we never deep-link a purchase that cannot complete.\n",
            "example": "https://bigballsdata.com/dashboard/billing?plan=edge"
          }
        }
      },
      "StoredId": {
        "type": "string",
        "format": "uuid",
        "description": "A stored BigBalls id. This is the identifier every match, team, player and league endpoint returns, and the one every `{id}` path segment accepts. Take it from the `id` field of the corresponding list endpoint and use it as-is.",
        "example": "cf2d81c8-8e7c-4eaf-a515-c51be3962e57"
      },
      "LeagueCode": {
        "type": "string",
        "description": "A short league code, not an id. `GET /v1/leagues` returns the authoritative list in its `id` field; that is the value to pass to every `?league=` parameter. Some codes accept an alias (`serie_a` and `seriea` both resolve).",
        "example": "epl"
      },
      "CanonicalId": {
        "type": "string",
        "description": "BigBalls canonical id, format `bb_<entity>_<10-32 lowercase base32 chars>`. NARROW SCOPE: the Formula 1 stored-session surface is the only place this is minted and the only place it is accepted. F1 sessions, drivers and constructors are keyed this way end to end (1,668 of 1,668 stored result rows on 2026-09-18). Everywhere else, ids are a `StoredId` and this format is REJECTED with a 400 - so do not construct one, and do not carry one across surfaces.",
        "pattern": "^bb_(player|team|league|circuit|session)_[a-z0-9]{10,32}$",
        "example": "bb_session_du57sgi3ttnx"
      },
      "Sport": {
        "type": "string",
        "enum": [
          "football",
          "basketball",
          "baseball",
          "ice_hockey",
          "cricket",
          "mma",
          "boxing",
          "formula1",
          "american_football"
        ]
      },
      "SessionType": {
        "type": "string",
        "enum": [
          "practice",
          "qualifying",
          "sprint",
          "race"
        ]
      },
      "MatchStatus": {
        "type": "string",
        "enum": [
          "scheduled",
          "live",
          "in_progress",
          "finished",
          "postponed",
          "cancelled",
          "suspended"
        ]
      },
      "OddsMarket": {
        "type": "string",
        "enum": [
          "moneyline",
          "spread",
          "total",
          "btts",
          "draw_no_bet",
          "double_chance"
        ]
      },
      "SelectionName": {
        "type": "string",
        "enum": [
          "home",
          "away",
          "draw",
          "over",
          "under",
          "yes",
          "no",
          "home_or_draw",
          "away_or_draw",
          "home_or_away"
        ]
      },
      "MetricUnit": {
        "type": "string",
        "enum": [
          "count",
          "percent",
          "seconds",
          "meters",
          "unit"
        ]
      },
      "CricketFormat": {
        "type": "string",
        "enum": [
          "t10",
          "t20",
          "odi",
          "test",
          "first_class"
        ]
      },
      "FightMethod": {
        "type": "string",
        "enum": [
          "ko",
          "tko",
          "submission",
          "unanimous_decision",
          "split_decision",
          "majority_decision",
          "technical_decision",
          "disqualification",
          "no_contest",
          "draw"
        ]
      },
      "FightStance": {
        "type": "string",
        "enum": [
          "orthodox",
          "southpaw",
          "switch"
        ]
      },
      "SportInfo": {
        "type": "object",
        "properties": {
          "slug": {
            "$ref": "#/components/schemas/Sport"
          },
          "name": {
            "type": "string",
            "example": "Football"
          }
        }
      },
      "Team": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "short_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "league": {
            "type": [
              "string",
              "null"
            ],
            "description": "League display name",
            "e.g. NHL.": null,
            "example": "NHL"
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Treat as opaque; do not construct it."
          },
          "flag_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "National-team flag where applicable",
            "else null.": null
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 3166-1 alpha-3. NOT EMITTED by /v1/teams or /v1/teams/{id} as measured on 2026-09-18; branch on its absence."
          },
          "founded_year": {
            "type": "integer",
            "minimum": 1800,
            "maximum": 2100,
            "description": "NOT EMITTED as measured on 2026-09-18."
          }
        }
      },
      "TeamAggregateStats": {
        "type": "object",
        "description": "Aggregate over EVERY finished match we hold for the team, not the current season; `meta.stats_scope` restates that on each response. The goal-shaped names are used for all sports: `goals_scored` is runs in baseball and points in basketball.",
        "properties": {
          "matches_played": {
            "type": "integer",
            "minimum": 0
          },
          "matches_with_scores": {
            "type": "integer",
            "minimum": 0
          },
          "wins": {
            "type": "integer",
            "minimum": 0
          },
          "draws": {
            "type": "integer",
            "minimum": 0
          },
          "losses": {
            "type": "integer",
            "minimum": 0
          },
          "goals_scored": {
            "type": "integer",
            "minimum": 0
          },
          "goals_conceded": {
            "type": "integer",
            "minimum": 0
          },
          "goal_difference": {
            "type": "integer"
          },
          "clean_sheets": {
            "type": "integer",
            "minimum": 0
          },
          "points": {
            "type": "integer",
            "minimum": 0
          },
          "form_string": {
            "type": [
              "string",
              "null"
            ],
            "description": "Most recent results",
            "newest first.": null,
            "example": "WLWLL"
          },
          "btts_rate": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1
          },
          "over_2_5_rate": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1
          },
          "avg_goals_scored": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "avg_goals_conceded": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "TeamDetail": {
        "description": "The team exactly as `GET /v1/teams` lists it, plus the `stats` aggregate that `GET /v1/teams/{id}/stats` returns. One implementation serves both, so the two cannot disagree.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Team"
          },
          {
            "type": "object",
            "properties": {
              "stats": {
                "$ref": "#/components/schemas/TeamAggregateStats"
              }
            }
          }
        ]
      },
      "Player": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "full_name",
          "display_name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "full_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "current_team_id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "position": {
            "type": "string"
          },
          "shirt_number": {
            "type": "integer",
            "minimum": 0,
            "maximum": 99
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          },
          "height_cm": {
            "type": "integer",
            "minimum": 120,
            "maximum": 260
          },
          "weight_kg": {
            "type": "number",
            "minimum": 35,
            "maximum": 250
          },
          "headshot_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Player headshot, served from our own `/v1/assets/{id}` endpoint (or, for official league CDNs, as a direct hotlink). ALWAYS PRESENT when a route serves this field, and `null` rather than omitted when there is no image; so `'headshot_url' in player` asks whether the route serves headshots, while `player.headshot_url !== null` asks whether this player has one.\n\nPlan-gated as a field inside a 200, never a 403: below Solo the key is present with `null` and the response carries one `meta.headshot_note` naming the plan that grants it. Solo and above get the URL. Added to `/v1/players/{id}` on 2026-09-28; it was absent there on every tier, including Pro, while `/v1/players`, `/v1/players/{id}/profile` and `/v1/stored/players` all served it."
          }
        }
      },
      "League": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/LeagueCode"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          }
        }
      },
      "PeriodScore": {
        "type": "object",
        "required": [
          "period",
          "label",
          "home",
          "away"
        ],
        "properties": {
          "period": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "label": {
            "type": "string"
          },
          "home": {
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          "away": {
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          }
        }
      },
      "Clock": {
        "type": "object",
        "required": [
          "elapsed_seconds",
          "period"
        ],
        "properties": {
          "elapsed_seconds": {
            "type": "integer",
            "minimum": 0
          },
          "period": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          },
          "added_seconds": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "Score": {
        "type": "object",
        "required": [
          "home",
          "away",
          "status",
          "updated_at"
        ],
        "properties": {
          "match_id": {
            "type": "string",
            "format": "uuid",
            "description": "Stored match id, usable as-is with `/v1/matches/{id}`, `/v1/stored/matches/{id}/stats` and the other id-taking endpoints. OMITTED when this live row cannot be resolved to a match we hold; an absent id is a condition you can branch on, an id that does not resolve is not. The scores on such a row are still real.",
            "example": "71c604d0-0193-4e75-aba4-cc76822e3508"
          },
          "home": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 500
          },
          "away": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 500
          },
          "status": {
            "$ref": "#/components/schemas/MatchStatus"
          },
          "period_scores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeriodScore"
            }
          },
          "clock": {
            "$ref": "#/components/schemas/Clock"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Selection": {
        "type": "object",
        "required": [
          "name",
          "decimal_odds"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SelectionName"
          },
          "decimal_odds": {
            "type": "number",
            "minimum": 1.01,
            "maximum": 1000
          },
          "line": {
            "type": "number"
          }
        }
      },
      "Odds": {
        "type": "object",
        "required": [
          "match_id",
          "market",
          "selections",
          "updated_at"
        ],
        "properties": {
          "match_id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "market": {
            "$ref": "#/components/schemas/OddsMarket"
          },
          "selections": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/Selection"
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Stat": {
        "type": "object",
        "required": [
          "metric",
          "value",
          "unit",
          "updated_at"
        ],
        "properties": {
          "match_id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "team_id": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StoredId"
              },
              {
                "type": "null"
              }
            ]
          },
          "player_id": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StoredId"
              },
              {
                "type": "null"
              }
            ]
          },
          "metric": {
            "type": "string",
            "description": "Canonical metric name from a closed set."
          },
          "value": {
            "type": "number"
          },
          "unit": {
            "$ref": "#/components/schemas/MetricUnit"
          },
          "period": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Event": {
        "type": "object",
        "description": "One play/incident row from `/v1/matches/{id}/events`. The ordering key is `sequence_number`, and there is no per-event `id` or `match_id`: the match is the one in the path. Until 2026-09-18 this schema required `id`, `match_id` and `sequence`, none of which is returned.",
        "properties": {
          "sequence_number": {
            "type": "integer",
            "minimum": 1,
            "description": "Ordering key within the match."
          },
          "elapsed": {
            "type": "integer",
            "minimum": 0,
            "description": "Soccer minute from the live adapter."
          },
          "elapsed_extra": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "team": {
            "type": [
              "string",
              "null"
            ]
          },
          "player_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "player_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "headshot_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "assist_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "assist_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "assist_headshot_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "event_type": {
            "type": [
              "string",
              "null"
            ]
          },
          "event_detail": {
            "type": [
              "string",
              "null"
            ]
          },
          "period": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "period_display": {
            "type": [
              "string",
              "null"
            ],
            "example": "2nd Inning"
          },
          "clock": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Clock"
              },
              {
                "type": "null"
              }
            ],
            "description": "Null on feeds that carry no clock; 8 of 8 sampled baseball events were null."
          },
          "type": {
            "type": "string",
            "example": "Play Result"
          },
          "team_id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "related_player_id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "description": {
            "type": "string"
          },
          "scoring_play": {
            "type": "boolean"
          },
          "score_value": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Points/runs this event added."
          },
          "home_score": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Running home score AFTER this event."
          },
          "away_score": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Running away score AFTER this event."
          },
          "coordinate_x": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Soccer shot location: the SHOOTER's position on a 0-100 normalised pitch. `null` on non-shot events and on any event from a feed that carries no positions."
          },
          "coordinate_y": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "xg": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Expected goals for a shot, 0-1. `null` means the source does not model xG for this event, never \"zero chance\"."
          },
          "xgot": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Expected goals on target. Present only for shots that were on target; `null` for misses and blocks by design."
          },
          "down": {
            "oneOf": [
              {
                "type": "integer",
                "minimum": 1,
                "maximum": 4
              },
              {
                "type": "null"
              }
            ],
            "description": "NFL down; null for plays without a down and for non-NFL events."
          },
          "distance": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "NFL yards to gain; null for non-NFL events."
          },
          "yards_to_endzone": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "NFL field position measured in yards from the opponent end zone."
          },
          "yards_gained": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "NFL yards gained on the play; null for non-NFL events."
          },
          "epa": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "NFL expected points added; null when unavailable or on non-NFL events."
          },
          "win_probability": {
            "oneOf": [
              {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              {
                "type": "null"
              }
            ],
            "description": "NFL possession-team win probability after the play."
          },
          "defending_team_id": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StoredId"
              },
              {
                "type": "null"
              }
            ],
            "description": "Canonical defending-team UUID on NFL rows; null otherwise."
          }
        }
      },
      "FixtureTeamStatistics": {
        "type": "object",
        "description": "Post-match team stat line for one team. All stat fields are\nnullable: a metric a league doesn't track is null, and `expected_goals`\n(xG) is present only on covered leagues. Counts are integers; percentages\nand xG are numbers.\n",
        "properties": {
          "team_id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "team_name": {
            "type": "string",
            "nullable": true
          },
          "shots_on_target": {
            "type": "integer",
            "nullable": true
          },
          "shots_off_target": {
            "type": "integer",
            "nullable": true
          },
          "total_shots": {
            "type": "integer",
            "nullable": true
          },
          "blocked_shots": {
            "type": "integer",
            "nullable": true
          },
          "shots_inside_box": {
            "type": "integer",
            "nullable": true
          },
          "shots_outside_box": {
            "type": "integer",
            "nullable": true
          },
          "fouls": {
            "type": "integer",
            "nullable": true
          },
          "corner_kicks": {
            "type": "integer",
            "nullable": true
          },
          "offsides": {
            "type": "integer",
            "nullable": true
          },
          "ball_possession": {
            "type": "number",
            "nullable": true,
            "description": "percent 0-100"
          },
          "yellow_cards": {
            "type": "integer",
            "nullable": true
          },
          "red_cards": {
            "type": "integer",
            "nullable": true
          },
          "goalkeeper_saves": {
            "type": "integer",
            "nullable": true
          },
          "total_passes": {
            "type": "integer",
            "nullable": true
          },
          "accurate_passes": {
            "type": "integer",
            "nullable": true
          },
          "pass_percentage": {
            "type": "number",
            "nullable": true,
            "description": "percent 0-100"
          },
          "expected_goals": {
            "type": "number",
            "nullable": true,
            "description": "xG",
            "covered leagues only": null
          }
        }
      },
      "StandingRow": {
        "type": "object",
        "description": "One team's row in a standings table. The field names below are the ones production returns, verified identical across all 9 leagues that serve a UUID-keyed table (laliga, seriea, bundesliga, ligue1, mls, nhl, nba, nfl, mlb) on 2026-09-18. Until then this schema declared `position`, `played`, `won`, `drawn`, `lost`, `goals_for`, `goals_against`, `goal_difference` and `points`, none of which has ever been returned.",
        "required": [
          "rank",
          "team_id",
          "team_name",
          "wins",
          "losses",
          "games_played"
        ],
        "properties": {
          "rank": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 200,
            "description": "1-indexed position in the table AS WE SERVE IT, computed by us at read time over exactly the rows in this response, so it is always contiguous 1..N with no gaps and never null while any row in the group carries an ordering metric. `rows` are returned in this order, so the array order and this field cannot disagree. ORDERING: by the competition's own metric. For association football (sport `football`, including MLS and the Champions League) that is league points, 3 per win and 1 per draw, then goal difference (points_for minus points_against), then goals for. For every other sport it is `win_pct` as the league itself defines it. For NHL that is points percentage, (2W+OTL)/(2*GP), not W/(W+L). It falls back to wins/(wins+losses+ties) when the source supplies no win_pct. TIEBREAK, identical for every sport and applied in this order: more wins, then fewer losses, then team_name ascending, then team_id ascending. team_id makes it a total order, so the same rows always produce the same table. Teams that are genuinely level therefore get ADJACENT DISTINCT positions rather than a shared one: `rank` is a position, not a ranking class. BEFORE 2026-09-24 this field was the ingest's running counter over the vendor's conference/division tree and was NOT a table position: measured over the served rows that day, 19 of 29 adjacent NBA pairs had the lower-ranked team with the better record, and NHL (32 rows) and NCAAF (138 rows) carried null on every row. It is null now only when no row in the group carries any ordering metric at all, in which case we decline to invent one."
          },
          "team_id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "team_name": {
            "type": "string"
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Treat as opaque; do not construct it."
          },
          "wins": {
            "type": "integer",
            "minimum": 0
          },
          "losses": {
            "type": "integer",
            "minimum": 0
          },
          "ties": {
            "type": "integer",
            "minimum": 0,
            "description": "Draws. Always present, and 0 for sports that cannot draw, so a 0 here does not distinguish \"no draws\" from \"draws impossible\"; branch on `sport` for that."
          },
          "win_pct": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1
          },
          "games_played": {
            "type": "integer",
            "minimum": 0
          },
          "points_for": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Goals/runs/points scored, named uniformly across sports. This is NOT competition points; no points column is served."
          },
          "points_against": {
            "type": [
              "integer",
              "null"
            ]
          },
          "streak": {
            "type": [
              "string",
              "null"
            ],
            "example": "W3"
          },
          "conference": {
            "type": [
              "string",
              "null"
            ],
            "example": "Big Ten Conference",
            "description": "The team's grouping inside the league, spelled as the league spells it. NULL wherever no grouping is recorded, which is most leagues; NULL means \"not recorded\", never \"independent\", which is itself a label (\"Division I Independents\"). Filter a table down to one grouping with `?conference=`."
          },
          "conference_wins": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Wins counted ONLY over matches where both teams carry the same non-null `conference`. NULL when `conference` is null."
          },
          "conference_losses": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "conference_rank": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "description": "1-indexed position inside `conference`. NULL when `conference` is null; a rank inside no group is not a number."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Standings": {
        "type": "object",
        "description": "One league's table. `/v1/standings` returns these under `data.standings`.",
        "required": [
          "league_id",
          "league_name",
          "sport",
          "season",
          "rows"
        ],
        "properties": {
          "league_id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "league_name": {
            "type": "string",
            "example": "NHL"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "season": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "maxItems": 200,
            "items": {
              "$ref": "#/components/schemas/StandingRow"
            }
          }
        }
      },
      "MatchSide": {
        "type": "object",
        "description": "One side of a match. The field names are `id`/`name`; there is no `team_id`/`team_name` here. Until 2026-09-18 this schema said `team_id` + `team_name`, which no endpoint has ever returned.",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "short_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 40
          },
          "logo_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Served from our own asset endpoint; treat it as opaque and do not construct it."
          }
        }
      },
      "MatchScore": {
        "type": "object",
        "description": "Final or current goal/run/point totals. Null on a match with no score yet.",
        "required": [
          "home",
          "away"
        ],
        "properties": {
          "home": {
            "type": [
              "integer",
              "null"
            ]
          },
          "away": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "Linescore": {
        "type": "object",
        "description": "Per-period totals. The array length and meaning follow the sport, and are not uniform even within one sport, so read it positionally only after checking `sport`.",
        "properties": {
          "home": {
            "type": "array",
            "items": {
              "type": [
                "integer",
                "null"
              ]
            }
          },
          "away": {
            "type": "array",
            "items": {
              "type": [
                "integer",
                "null"
              ]
            }
          }
        }
      },
      "Match": {
        "type": "object",
        "description": "The match object. This one shape is returned by `/v1/matches`, `/v1/stored/matches` and `/v1/cricket/matches` alike, for every sport (verified field-for-field across all three on 2026-09-18).",
        "required": [
          "id",
          "sport",
          "league",
          "kickoff_utc",
          "status",
          "home",
          "away"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/StoredId"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "league": {
            "type": "string",
            "description": "The league's DISPLAY name as served here (e.g. \"MLB\", \"NHL\"). This is not the `?league=` code; see LeagueCode for that.",
            "example": "MLB"
          },
          "kickoff_utc": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/MatchStatus"
          },
          "home": {
            "$ref": "#/components/schemas/MatchSide"
          },
          "away": {
            "$ref": "#/components/schemas/MatchSide"
          },
          "score": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/MatchScore"
              },
              {
                "type": "null"
              }
            ]
          },
          "linescore": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Linescore"
              },
              {
                "type": "null"
              }
            ]
          },
          "attendance": {
            "type": [
              "integer",
              "null"
            ]
          },
          "broadcast": {
            "type": [
              "string",
              "null"
            ]
          },
          "has_odds": {
            "type": "boolean",
            "description": "Whether stored odds exist for this match; see /v1/matches/{id}/odds."
          },
          "round": {
            "type": [
              "string",
              "null"
            ],
            "description": "Competition segment as the source names it, e.g. \"Regular Season - 2\" or \"Group Stage\". This is the axis to group gameweek analytics by: a postponed fixture keeps its round while its kickoff_utc moves by weeks, so bucketing by date splits one gameweek and merges another. Free text rather than an integer, because the phase carries meaning an integer would discard. Null where the source supplies none, currently populated for soccer only.",
            "example": "Regular Season - 2"
          },
          "season": {
            "type": "string",
            "description": "NOT EMITTED by the list endpoints as measured on 2026-09-18. Declared because callers may hold it from older payloads; branch on its absence rather than expecting it."
          },
          "venue": {
            "type": "string",
            "description": "NOT EMITTED by the list endpoints as measured on 2026-09-18."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "NOT EMITTED by the list endpoints as measured on 2026-09-18."
          }
        }
      },
      "SessionResult": {
        "type": "object",
        "required": [
          "position",
          "driver_id",
          "dnf"
        ],
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 1,
            "maximum": 40,
            "description": "1-indexed finishing position."
          },
          "driver_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "team_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "driver_name": {
            "type": "string",
            "description": "Driver full name",
            "joined from the players table when available.": null
          },
          "team_name": {
            "type": "string",
            "description": "Constructor name",
            "joined from the teams table when available.": null
          },
          "best_lap_seconds": {
            "type": "number",
            "minimum": 30,
            "maximum": 600
          },
          "gap_to_leader_seconds": {
            "type": "number",
            "minimum": 0,
            "maximum": 7200
          },
          "laps_completed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "dnf": {
            "type": "boolean",
            "description": "True when the driver did not finish (mechanical",
            "accident": null,
            "DSQ).": null
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "session_type",
          "league_id",
          "circuit_id",
          "start_time",
          "status",
          "results",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "sport": {
            "type": "string",
            "enum": [
              "formula1"
            ]
          },
          "session_type": {
            "$ref": "#/components/schemas/SessionType"
          },
          "league_id": {
            "$ref": "#/components/schemas/CanonicalId",
            "description": "GP weekend / round identifier."
          },
          "season": {
            "type": "string",
            "pattern": "^\\d{4}(-\\d{2,4})?$"
          },
          "circuit_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/MatchStatus"
          },
          "results": {
            "type": "array",
            "maxItems": 40,
            "description": "Position ranking. Empty until the results worker has processed the session.",
            "items": {
              "$ref": "#/components/schemas/SessionResult"
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Injury": {
        "$ref": "#/components/schemas/Player"
      },
      "OddsRow": {
        "$ref": "#/components/schemas/Odds"
      },
      "EventRow": {
        "$ref": "#/components/schemas/Event"
      },
      "Standing": {
        "$ref": "#/components/schemas/Standings"
      },
      "WebhookRegistration": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "score_update",
                "match_start",
                "match_end"
              ]
            }
          },
          "secret": {
            "type": "string",
            "readOnly": true,
            "description": "HMAC-SHA256 secret. Shown once at creation."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "enabled": {
            "type": "boolean",
            "readOnly": true
          },
          "consecutiveFailures": {
            "type": "integer",
            "minimum": 0,
            "readOnly": true
          },
          "parkedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "readOnly": true
          },
          "parkedReason": {
            "type": [
              "string",
              "null"
            ],
            "readOnly": true
          }
        }
      },
      "LiveScoreEvent": {
        "type": "object",
        "description": "Payload of a `score_update` / `match_start` / `match_end` frame on the WebSocket feed at wss://api.bigballsdata.com/live (Pro and above).\n\nNOT reachable over HTTP: no path in this document returns it. It is declared here because this file is the canonical contract and the served /openapi.json is what agents and SDK generators read; a payload customers integrate against being absent from it is the same undocumented-surface problem whether or not the transport is REST.\n\nTIMING FIELDS. `polled_at` and `emitted_at` are the two instants we can observe first-hand, and they exist so a latency-sensitive consumer can measure our segment instead of estimating it. Both are ISO-8601 with an explicit `Z` (UTC, millisecond precision), never a local offset.\n\n\n  * `emitted_at - polled_at`: our internal segment, exactly.\n  * `now - emitted_at`: publish, gateway relay and your own\n                               transport, measured against your clock.\n  * anything before `polled_at`: upstream. We do NOT decompose this\n    and we do not publish an estimate of it; treat it as an upper\n    bound. Our upstream is a POLL, not a push, so this segment includes\n    both the upstream's own refresh cadence and our poll gap. See\n    docs/live-latency-2026-09-06.md for both, measured.\n\n\nNo upstream-provided timestamp appears in this payload, deliberately: every time value here is a reading of our own clock.",
        "required": [
          "match_id",
          "sport",
          "league_id",
          "status",
          "period",
          "clock",
          "linescore",
          "polled_at",
          "emitted_at"
        ],
        "properties": {
          "match_id": {
            "type": "string",
            "format": "uuid"
          },
          "sport": {
            "type": "string",
            "example": "football"
          },
          "league_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled",
              "live",
              "finished"
            ],
            "example": "live"
          },
          "period": {
            "type": "integer",
            "nullable": true,
            "example": 2
          },
          "clock": {
            "type": "string",
            "nullable": true,
            "example": "83'"
          },
          "linescore": {
            "type": "object",
            "nullable": true,
            "description": "Per-period scores. Null for a row with no linescore yet.",
            "example": {
              "home": [
                4
              ],
              "away": [
                2
              ]
            }
          },
          "polled_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 UTC (`Z`). The instant the upstream HTTP response was RECEIVED (response resolved, body not yet read). Reading and parsing that body, reconciling the match and writing the row all fall AFTER this instant, i.e. inside our segment. Stamped per upstream request, not per poll cycle.",
            "example": "2026-09-06T18:30:00.000Z"
          },
          "emitted_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 UTC (`Z`). The instant we published this frame to our internal bus, immediately after building it. Excludes gateway relay and socket delivery, which is why `now - emitted_at` on your side bounds them.",
            "example": "2026-09-06T18:30:02.400Z"
          },
          "down": {
            "type": "integer",
            "nullable": true,
            "minimum": 1,
            "maximum": 4,
            "example": 1,
            "description": "Current down. `american_football` only; null for every other sport, and null for a football match that is not currently live. Absence, not zero."
          },
          "distance": {
            "type": "integer",
            "nullable": true,
            "example": 10,
            "description": "Yards to go for a first down. Paired with `down`."
          },
          "yard_line": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 100,
            "example": 51,
            "description": "Distance to the opponent's goal line, 0-100."
          },
[...]
